/* Overlay */

.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--color-modal-overlay);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

/* Event Form */

.event-form {
    position: absolute;
    width: 95%;
    max-width: 60rem;
    max-height: 90vh;
    padding: 2rem;
    margin: 0;
    border-radius: 0 0.5rem 0.5rem 0;
    border-left: 0.5rem solid var(--color-blue-light);
    background-color: var(--color-white);
    box-shadow: 0 0.5rem 2.5rem rgba(0, 0, 0, 0.5);
    overflow-y: auto;
}

.event-form__fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

.event-form__legend {
    color: var(--color-blue-dark);
    font-weight: 700;
    font-size: clamp(1.85rem, 2vw, 2rem);
    width: 100%;
    padding: 1rem 0;
    margin-bottom: 2rem;
    border-bottom: 2px solid var(--gray-300);
}

.event-form__group {
    display: flex;
    justify-content: center;
    align-items: start;
    flex-direction: column;
    gap: 0.5rem;
    margin-bottom: 1.25rem;
    min-height: auto; 
}

.event-form__time-group {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-wrap: wrap;
    gap: 1rem;
    width: 100%;
    min-height: 7.5rem;
    margin-bottom: 1.25rem;
}

.event-form__time-group > .event-form__group {
    flex: 1;
    min-width: 0;
    min-height: auto;
    margin-bottom: 0;
}

.event-form__time-group > .event-form__error {
    flex-basis: 100%;
}

.event-form__label {
    color: var(--color-blue-dark);
    font-size: clamp(1.35rem, 1vw, 1.5rem);
    font-weight: 600;
    text-align: left;
    width: 100%;
    padding-left: 0.5rem;
}

.event-form__input,
.event-form__textarea {
    font-size: clamp(1.35rem, 1vw, 1.5rem);
    width: 100%;
    padding: 1rem;
    border: none;
    border-radius: var(--radius-sm);
    background-color: var(--gray-100);
}

.event-form__input[type="date"]:hover,
.event-form__input[type="time"]:hover {
    cursor: pointer;
}

.event-form__textarea {
    resize: none;
    line-height: 1.25; 
}

/* Events error */

.event-form__input-error {
    border: 2px solid var(--color-red-light);
    outline: none;
}

.event-form__error {
    margin: 0;
    padding: 0 0.5rem;
    width: 100%;
    font-size: clamp(1.35rem, 1vw, 1.5rem);
    color: var(--color-red-light);
    min-height: 2rem;
    line-height: 2rem;
}

/* Event Actions & Buttons */

.event-form__actions {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-direction: column-reverse;
    gap: 1rem;
    padding: 1rem 0;
    width: 100%;
}

.event-form__button {
    padding: 1rem 2rem;
    width: 100%;
    border: none;
    border-radius: var(--radius-sm);
    font-size: clamp(1.35rem, 1vw, 1.5rem);
    color: var(--color-white);
}

.event-form__button--Cancel {
    background-color: var(--color-red-light);
    transition: background-color 0.25s ease-in-out;
}

.event-form__button--Cancel:hover {
    background-color: var(--color-red-dark);
}

.event-form__button--Save {
    background-color: var(--gray-300);
    color: var(--color-white);
    transition: background-color 0.25s ease-in-out;
}

.event-form__button--Save:not(:disabled) {
    background-color: var(--color-blue-light);
    cursor: pointer;
}

.event-form__button--Save:not(:disabled):hover {
    background-color: var(--color-blue-dark);
}

@media(min-width: 576px) {
    .event-form__actions {
        flex-direction: row;
        justify-content: flex-end;
    }
    .event-form__button {
        width: auto;   
    }
}

/* Event Form Note */

.event-form__note {
    margin: 1rem 0 0 0 ;
    padding: 0;

    font-weight: 700;
    color: var(--color-blue-dark);
}