:host {
    display: flex;
    justify-content: center;
    margin: 10vh 5vw;
    padding: 0 auto;
}

/* Form */

.form {
    padding: 2rem;
    border-radius: 0 0.5rem 0.5rem 0;
    border-left: 0.5rem solid var(--color-blue-light);
    width: 100%;
    background-color: var(--gray-50);
    box-shadow: 0 0.5rem 2.5rem rgba(0, 0, 0, 0.5);
}

.form__fieldset {
    margin: 0;
    padding: 0;
    border: none;
}

.form__legend {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
    width: 100%;
    padding: 1rem;
    margin-bottom: 2.5rem;
    border-bottom: 2px solid var(--gray-300);
    color: var(--color-blue-dark);
    font-weight: 700;
    font-size: var(--font-size-xl);
    text-align: left;
}

@media (min-width: 576px) {
    .form {
        max-width: 50rem;
    }
}

/* Groups */

.form__group {
    display: flex;
    flex-direction: column;
    margin-bottom: var(--space-md);
}

.form__group label {
    margin: 0 auto 0.5rem 0.5rem;
    font-weight: 700;
    font-size: clamp(1.75rem, 2vw, 2rem);
    color: var(--color-blue-dark);
}

/* Inputs */

.form__group input {
    background-color: var(--gray-200);
    color: var(--gray-900);
    width: 100%;
    padding: var(--space-ms);
    border: none;
    border-radius: var(--radius-sm);
    outline: none;
    font-size: clamp(1.5rem, 1.75vw, 1.75rem);
}

.form__group input::placeholder {
    color: var(--gray-500);
}
.form__group input.ng-invalid.ng-touched {
    box-shadow: 0 0 0 2px var(--color-red-light);
}

/* Error text */

.form__error-text {
    color: var(--color-red-light);
    margin: 0;
    padding: var(--space-xs);
    font-size: var(--font-size-sm);
    border-radius: 0 0 0.5rem 0.5rem;
    opacity: 0.9;
}

.form__error-submit {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 0.5rem;
    background-color: var(--color-red-light);
    color: var(--color-white);
    padding: var(--space-xs);
    margin: 1rem 0 0 0;
    opacity: 0.9;
    border-radius: var(--radius-sm);
    font-size: var(--font-size-sm);
}

/* Buttons */

.btn__auth {
    width: 100%;
    padding: var(--space-md);
    border: none;
    border-radius: var(--radius-sm);
    background-color: var(--color-blue-light);
    color: var(--color-white);
    font-weight: 700;
    font-size: var(--font-size-lg);
    cursor: pointer;
    transition: background-color 0.25s ease;
}

.btn__auth:hover {
    background-color: var(--color-blue-dark);
}

.btn__auth[disabled] {
    pointer-events: none;
    opacity: 0.9;
    background-color: var(--gray-200);
    color: var(--gray-900);
}

/* Form Note */

.form__note {
    margin: 1rem 0 0 0 ;
    padding: 0;
    text-align: end;
    font-weight: 700;
    color: var(--color-blue-dark);
}