:host {
    width: 100%;
    margin: 0;
    padding: 0;
}

.map__vehicle-select {
    width: 100%;
    min-width: 20rem;
    padding: 0.75rem;

    font-size: 1rem;
    text-align: center;
    font-size: var(--font-size-);
    color: var(--color-white);

    border: 1px solid var(--gray-200);
    border-radius: var(--radius-sm);
    background-color: var(--color-blue-light);
    cursor: pointer;
}

/* @Media Tablet */

@media (min-width: 578px) {
    .map__vehicle-select {
        max-width: 30rem;
    }
}