:host {
    width: 100%;
}

.map__vehicle-select {
    width: 100%;
    max-width: 30rem;
    padding: 1rem 1rem;

    font-size: 1rem;
    text-align: center;
    font-size: var(--font-size-);
    color: var(--color-white);

    border: 1px solid var(--gray-200);
    border-radius: var(--radius-md);
    background-color: var(--color-blue-light);
    cursor: pointer;
}