
.navbar__auth {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    padding: 0;
    margin: 0;
}

.navbar__auth button {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    border: none;
    border-radius: var(--radius-md);
    padding: 1rem;
    margin: 0;
    background-color: transparent;
    color: var(--color-white);
    font-weight: 500;
    font-size: var(--font-size-base);
    transition: background-color 0.25s ease, color 0.25s ease;
    cursor: pointer;
}

.navbar__auth button.active {
    background-color: rgba(0, 0, 0, 0.25);
    border-radius: var(--radius-md);
}
.navbar__auth button:hover {
    color: var(--color-blue-light);
    background-color: var(--color-white);
    border-radius: var(--radius-md);
}
.navbar__auth-label {
    display: none;
}

@media (min-width: 576px) {
    .navbar__auth-label {
        display: inline-block;
    }
}