<div class="navbar__auth" >
    @if(this.isLogged()){
        <button data-test="logoutButton" routerLinkActive="active" (click)="onLogout()">
            <i class="pi pi-sign-out" aria-hidden="true"></i>
            <span class="navbar__auth-label">Logout</span>
        </button>
    } @else if (!this.isLogged()) {
        <button data-test="registerButton" [routerLink]="['/register']" routerLinkActive="active">Register</button>
        <button data-test="loginButton" [routerLink]="['/login']" routerLinkActive="active">Login</button>
    }   
</div>