
.vehicle-empty__container {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin: 30vh auto;
}

.vehicle-empty__message {
    font-size: var(--font-size-lg);
    font-weight: 500;
    color: var(--color-blue-dark);
}

.vehicle-empty__create {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    background-color: var(--color-blue-light);
    padding: 1.5rem;
    border-radius: var(--radius-sm);
    border: 2px solid transparent;
    cursor: pointer;
    transition: background-color 0.25s ease;
    width: 100%;
    margin: 0 auto;
}
.vehicle-empty__create:hover {
    background-color: var(--color-blue-dark); 
}
.vehicle-empty__title {
    font-weight: 700;
    color: var(--color-white);
    font-size: var(--font-size-base);
    margin: 0;
}

@media (min-width: 578px) {
    .vehicle-empty__create {
        width: auto;
        padding: 1rem 1.5rem;
    }
}