/* Container del calendario */

.calendar__container {
    padding: 1.5rem;
    max-width: 70rem;
    margin: 2rem auto;
    background-color: var(--color-white);
}

/* Titulo del mes */

.calendar__container .fc-toolbar-title {
    font-size: var(--font-size-xl);
    color: var(--color-blue-light);
    font-weight: 600;
}

/* Botones de navegación */

.calendar__container .fc-button-group {
    gap: 1rem;
}

.calendar__container .fc-button.fc-button-primary {
    background-color: var(--color-blue-light);
    border: none;
    color: var(--color-white);
    padding: 0.5rem 1rem;
    border-radius: var(--radius-sm);
    font-weight: 700;
}

.calendar__container .fc-button.fc-button-primary:hover {
    background-color: var(--color-blue-dark);
}

.calendar__container .fc-button.fc-button-primary:disabled {
    opacity: 0.5;
    cursor: not-allowed;
}

/* Cabecera de los dias de la semana */

.calendar__container .fc-col-header-cell {
    background-color: var(--color-blue-light);
    font-weight: 700;
    padding: 1rem;
    text-transform: uppercase;
}
.calendar__container .fc-col-header-cell-cushion {
    text-align: center;
    color: var(--color-white);
    font-size: var(--font-size-xs);
}

/* Celdas de los dias */

.calendar__container .fc-daygrid-day {
    background-color: var(--color-white);
    cursor: pointer;
    transition: background-color 0.2s;
}

.calendar__container .fc-daygrid-day:hover {
    background-color: var(--gray-100);
}

/* Dia actual (hoy!) */

.calendar__container .fc-daygrid-day.fc-day-today {
    background-color: var(--gray-200);

}

/* Número del dia */

.calendar__container .fc-daygrid-day-number {
    width: 100%;
    padding: 0.5rem;
    margin: 0;
    text-align: right;
    color: var(--color-blue-dark);
    font-weight: 700;
}

/* Eventos en el calendario */
.calendar__container .fc-event.fc-daygrid-event {
    background-color: var(--color-blue-light);
}

.calendar__container .fc-daygrid-more-link {
    background-color: var(--color-blue-dark);
    width: calc(100% - .5rem);
    text-align: center;
}
.calendar__container .fc-event.fc-daygrid-event,
.calendar__container .fc-daygrid-more-link {  
    border: none;
    border-radius: var(--radius-sm);
    padding: 0.25rem 0.5rem;
    margin: 0.125rem 0.25rem;
    font-size: var(--font-size-xs);
    color: var(--color-white);
}
.calendar__container .fc-event.fc-daygrid-event:hover {
    background-color: var(--color-blue-dark);
}

.calendar__container .fc-event-title {
    color: var(--color-white);
}








/* Eventos Modal del dia seleccionado */

.day-events {
    margin: 2rem;
    padding: 1.5rem;
    background-color: var(--color-white);
    border-left: 0.5rem solid var(--color-blue-light);
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.25);
}

.day-events__title {
    margin: 0 0 1rem 0;
    padding-bottom: 1rem;
    color: var(--color-blue-dark);
    font-size: var(--font-size-lg);
    border-bottom: 2px solid var(--gray-300);
}

.day-events__list {
    list-style: none;
    padding: 0;
    margin: 0;
}

.day-events__details {
    padding: 1rem;
    margin-bottom: 0.5rem;
    background-color: var(--gray-100);
    border-left: 3px solid var(--color-blue-light);
    transition: all 0.2s ease-in-out;
}
.day-events__details:hover,
.day-events__details[open] {
    border-left-color: var(--color-blue-dark);
}
.day-events__details[open] {
    transform: translateX(0.5rem);
}

.day-events__summary {
    display: flex;
    justify-content: space-between;
    font-weight: 600;
    cursor: pointer;
}
.day-events__event-title {
    font-size: var(--font-size-lg);
}
.day-events__event-date {
    letter-spacing: 0.1rem;
}

.day-events__time {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 1rem;
    margin: 1rem auto;
    font-size: var(--font-size-sm);
}

.day-events__time-label i {
    margin: 0;
    padding: 0;
    font-size: 1.25rem;
}
.day-events__time-value {
    
}

.day-events__comment {
    margin: 0;
    padding: 1rem;
    font-size: var(--font-size-sm);
}

.day-events__actions {
    display: flex;
    justify-content: flex-end;
    gap: 1rem;
    margin-top: 1rem;

}

@media(min-width: 576px) {
    .day-events {
        margin: 2rem auto;
        max-width: 70rem;
        padding: 1.5rem;
        background-color: var(--color-white);
        border-left: 0.5rem solid var(--color-blue-light);
        box-shadow: 0 2px 10px rgba(0, 0, 0, 0.25);
    }
}






/* Sin eventos */

.calendar__day-events-empty {
    margin: 2rem auto;
    padding: 2rem;
    text-align: center;
    background-color: var(--gray-50);
    border-radius: var(--radius-sm);
    color: var(--color-text-muted);
    font-size: var(--font-size-lg);
    max-width: 70rem;
    width: auto;
}

/* Elimina scroll lateral*/

.calendar__container .fc-scroller,
.calendar__container .fc-scroller-liquid-absolute {
    overflow: hidden;
}

.calendar__container .fc-view-harness {
    height: auto;
}