<section class="home__header">
    <h2 class="home__title">
        <i class="pi pi-car" aria-hidden="true"></i>
        My Garage
    </h2>
    <app-create-button 
        (create)="modalState.openCreate()"
        [createText]="'Vehicle'"
    />
</section>

<section class="table__container">
    @if (vehicleList().length) {
        <app-vehicle-table
            [vehicles]="vehicleList()"
            [vehicleModal]="modalState"
            (deleteVehicle)="modalState.openConfirmDelete($event)"
        />
    } @else {
        <app-vehicle-empty-state 
            (createVehicle)="modalState.openCreate()"
        />
    }
</section>

@if (modalState.activeModal() === VehicleModalState.VehicleForm) {
    <app-vehicle-form-modal
        [mode]="modalState.formMode()"
        [vehicle]="modalState.selectedVehicle()"
        (submit)="saveVehicle($event)"
        (cancel)="modalState.close()"
    />
}

@if (modalState.activeModal() === VehicleModalState.ConfirmDelete) {
    <app-confirm-modal
        [title]="messages.deleteConfirmation.title"
        [message]="messages.deleteConfirmation.message"
        (confirm)="confirmDeleteVehicle()"
        (cancel)="modalState.close()"
    />
}