
.edit-button {
    background: transparent;
    border: none;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}
.edit-button:focus-visible {
    outline: 2px solid var(--color-blue-light);
    outline-offset: 2px;
    transition: outline 0.25s ease;
}

.edit-button__icon {
    width: 2.5rem;
    height: 2.5rem;
    transition: fill 0.25s;
    fill: var(--color-blue-light);
}
.edit-button__icon:hover {
    fill: var(--color-blue-dark);
}

