<section class="calendar__container">
    <full-calendar
        #calendar
        [options]="calendarOptions">
    </full-calendar>
</section>

@if (isEventModalOpen()) {
    <app-day-events-modal
        [events]="selectedDayEvents()"
        [date]="selectedDate()"
        (closeModal)="isEventModalOpen.set(false)"
        (deleteEvent)="requestDeleteEvent($event)">
    </app-day-events-modal>
}

@if (isConfirmModalOpen()) {
    <app-confirm-modal
        title="Delete this event"
        message="Are you sure you want to delete this event? This action cannot be undone"
        (confirm)="confirmDeleteEvent()"
        (cancel)="cancelDeleteEvent()">
    </app-confirm-modal>
}
