
<section class="calendar__container">
    <full-calendar
        #calendar
        [options]="calendarOptions"
    ></full-calendar>
</section>

@if (isModalOpen()) {
    <app-day-events-modal
        [events]="selectedDayEvents()"
        [date]="selectedDate()"
        [isOpen]="isModalOpen()"
        (closeModal)="isModalOpen.set(false)">
    </app-day-events-modal>
} @else {
    <section class="calendar__day-events-empty">
        <p>No hay eventos para el día seleccionado</p>
    </section>
}
