<section class="calendar__actions">
    <button (click)="handleCreateEvent()" class="calendar__button-create">Add Event</button>
    <app-vehicle-selector
        [vehicles]="vehicleService.vehicles()"
        (vehicleSelected)="handleVehicleSelected($event)"
    />
</section>

<section class="calendar__container">
    <full-calendar
        #calendar
        [options]="calendarOptions">
    </full-calendar>
</section>

@if (isEventModalOpen()) {
    <app-day-events-modal
        [events]="selectedDayEvents()"
        [date]="selectedDate()"
        (closeModal)="isEventModalOpen.set(false)"
        (createEvent)="handleCreateEvent()"
        (editEvent)="handleEditEvent($event)"
        (deleteEvent)="handleDeleteEvent($event)">
    </app-day-events-modal>
}

@if (isCreateModalOpen()) {
    <app-event-form-modal
        [preselectedDate]="selectedDate()"
        [preselectedEvent]="editingEvent()"
        (close)="isCreateModalOpen.set(false)">
    </app-event-form-modal>
}

@if (isConfirmModalOpen()) {
    <app-confirm-modal
        title="Delete this event"
        message="Are you sure you want to delete this event? This action cannot be undone"
        (confirm)="confirmDeleteEvent()"
        (cancel)="cancelDeleteEvent()">
    </app-confirm-modal>
}