:host {
    display: flex;
    justify-content: center;
    margin: 10vh auto;
    padding: 0 auto;
    font-size: var(--font-size-lg);
}
.form {
    padding: 2rem;
    border-radius: var(--radius-md);
    box-shadow: 0 0 2rem rgba(149, 183, 255, 0.5);
    width: 90%;
}
.form legend {
    color: var(--color-primary);
    padding: 1rem;
    margin-bottom: 2.5rem;
    border-radius: var(--radius-sm);
    font-weight: 700;
    font-size: 2.5rem;
    text-align: center;
}
.form__group {
    display: flex;
    flex-direction: column;
    margin-bottom: var(--space-md);
}
.form__group label{
    margin-bottom: var(--space-xs);
    color: var(--color-primary);
    font-weight: 700;
}
.form__group input{
    background-color: var(--color-primary-light);
    color: var(--color-white);

    padding: var(--space-ms);
    border: none;
    border-radius: var(--radius-sm);
    
    outline: none;
    box-shadow: 0 0 0.8rem rgba(var(--color-primary-light-rgb), 0.35);

    font-size: 2rem;
}
.form__group input::placeholder{
    color: var(--color-white);
}
.btn__auth {
    width: 100%;
    padding: var(--space-md);
    border: none;
    border-radius: var(--radius-md);
    background-color: var(--color-primary);
    font-weight: 700;
    font-size: var(--font-size-lg);
    color: var(--color-white);
}
.btn__auth:hover {
    background-color: var(--color-primary-dark);
}

@media(min-width:768px){
    .form {
        max-width: 60rem;
    }
}