
.map__main {
    background-color: var(--gray-200);
    position: relative;
}

/* Map Controls */

.map__controls {
    position: absolute;
    z-index: 1000;
    right: 0.25rem;
    top: 0.25rem;
    display: flex;
    margin: 0 auto;
    padding: 1rem 1rem;
}
.map__button {
    margin: 0;
    padding: 1rem;
    border: 1px solid rgba(0, 0, 0, 0.7);
    background-color: var(--color-white);
    border-radius: var(--radius-sm);
}
.map__button-icon {
    width: 2rem;
    height: 2rem;
    margin: 0;
    padding: 0;
    color: var(--color-white);
}
.map__button-icon path {
    transform: scale(1.15);
    transform-origin: center;
}

/* Map Container */

.map__container {
    margin: 0;
    padding: 0;
}

#map {
    height: 100vh;
}

/* MediaQuery - Tablet */

@media(min-width: 768px){

}