app-header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 7.5vh;
    z-index: 1000;
}

.app-layout {
    display: flex;
    flex-direction: column;
    margin-top: 7.5vh;
    min-height: calc(100vh - 7.5vh);
}

.app-content {
    flex: 1;
    background-color: var(--gray-200);
    overflow-y: auto;
}
