
/* Modal */

.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
}

.modal__form {
    background-color: var(--gray-100);
    border-radius: var(--radius-sm);
    padding: 2rem;
    max-width: 500px;
    width: 90%;
}
.modal__fieldset {
    border: none;
    margin: 0;
    padding: 0;
}
.modal__legend {
    margin-bottom: 1.5rem;
    padding: 1.5rem;
    width: 100%;
    border-radius: var(--radius-sm);
    font-size: var(--font-size-lg);
    font-weight: 700;
    background-color: var(--color-blue-light);
    color: var(--color-white);

}
.modal__form-section {
    display: flex;
    justify-content: center;
    align-items: left;
    flex-direction: column;
    padding: 1.5rem 1.25rem ;
}
.modal__label {
    color: var(--color-blue-dark);
    font-size: var(--font-size-base);
    font-weight: 700;
    margin-bottom: .5rem;
}
.modal__input {
    width: 100%;
    padding: 1.25rem;
    margin: 0 ;
    border: none;
    border-radius: 0.5rem;
    font-size: var(--font-size-base);
}

/* Error states*/

.modal__input--error {
    border-radius: 0.5rem 0.5rem 0 0;
    border: 0.3rem solid var(--color-red-light);
    outline: none;
}
.modal__form-text {
    background-color: var(--color-red-light);
    color: var(--color-white);
    
    padding: 1rem;
    margin: 0;
    border-radius: 0 0 0.5rem 0.5rem;

    font-size: var(--font-size-xs);
}

/* Buttons */

.modal__actions {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-direction: column;
    gap: 1rem;
    padding: 1.5rem;
}
.modal__button {
    padding: 1.25rem;
    width: 100%;
    border: none;
    border-radius: var(--radius-sm);
    background-color: var(--color-blue-light);
    font-size: var(--font-size-base);
    font-weight: 700;
    color: var(--color-white);
    cursor: pointer;
    transition: background-color 0.2s ease, transform 0.2s ease;
}
.modal__button--primary {
    background-color: var(--color-blue-light);
}
.modal__button--primary:hover:not(:disabled) {
    background-color: var(--color-blue-dark);
}
.modal__button:disabled,
.modal__button--primary:disabled {
    background-color: var(--gray-300);
    color: var(--gray-600);
    cursor: not-allowed;
    transform: none;
}
