
/* Modal */

.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--color-modal-overlay);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

/* Form */

.modal__form {
    position: absolute;
    width: 95%;
    max-width: 60rem;
    max-height: 80vh;
    padding: 2rem;
    margin: 0;
    border-radius: 0 0.5rem 0.5rem 0;
    border-left: 0.5rem solid var(--color-blue-light);
    background-color: var(--color-white);
    box-shadow: 0 5px 25px rgba(0, 0, 0, 0.5);
    overflow-y: auto;
}

.modal__fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

.modal__legend {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    color: var(--color-blue-dark);
    font-weight: 700;
    font-size: clamp(1.85rem, 2vw, 2rem);
    width: 100%;
    padding: 1rem 0;
    margin-bottom: 2rem;
    border-bottom: 2px solid var(--gray-300);
}

.modal__form-section {
    display: flex;
    justify-content: center;
    align-items: start;
    flex-direction: column;
    gap: 0.5rem;
    margin-bottom: 1.25rem;
    min-height: 7.5rem;
}

.modal__label {
    color: var(--color-blue-dark);
    font-size: clamp(1.35rem, 1vw, 1.5rem);
    font-weight: 600;
    text-align: left;
    width: 100%;
    padding-left: 0.5rem;
}

.modal__input {
    font-size: clamp(1.35rem, 1vw, 1.5rem);
    width: 100%;
    padding: 1rem;
    border: none;
    border-radius: var(--radius-sm);
    background-color: var(--gray-100);
}

.modal__input--error {
    border: 0.2rem solid var(--color-red-light);
    outline: none;
}

.modal__error-text {
    margin: 0;
    padding: 0 0.5rem;
    width: 100%;
    font-weight: 500;
    font-size: clamp(1.35rem, 1vw, 1.5rem);
    color: var(--color-red-light);
    min-height: 2rem;
    line-height: 2rem;
}

/* Actions & Buttons */

.modal__actions {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-direction: column;
    gap: 1rem;
    padding: 1rem 0;
    width: 100%;
}

.modal__button {
    padding: 1rem 2rem;
    width: 100%;
    border: none;
    border-radius: var(--radius-sm);
    font-size: clamp(1.35rem, 1vw, 1.5rem);
    color: var(--color-white);
    background-color: var(--gray-300);
    cursor: pointer;
    transition: background-color 0.25s ease-in-out;
}

.modal__button--save:not(:disabled) {
    background-color: var(--color-blue-light);
}

.modal__button--save:not(:disabled):hover {
    background-color: var(--color-blue-dark);
}

.modal__button:disabled {
    background-color: var(--gray-300);
    color: var(--gray-600);
    cursor: not-allowed;
}
.modal__button--cancel {
    background-color: var(--color-red-light);
}
.modal__button--cancel:hover {
    background-color: var(--color-red-dark);
}

@media(min-width: 576px) {
    .modal__actions {
        flex-direction: row-reverse;
        justify-content: flex-start;
    }
    .modal__button {
        width: auto;
    }
}