<div class="modal" (click)="onCancel()">
    <form 
        [formGroup]="form" 
        (keydown.enter)="$event.preventDefault(); onSubmit()" 
        class="modal__form"
        (click)="$event.stopPropagation()"
    >
        
        <fieldset class="modal__fieldset">
            
            <legend class="modal__legend">{{ mode() === 'create' ? 'Create Vehicle' : 'Edit Vehicle' }}</legend>

            <div class="modal__form-section">
                <label for="createVehicleName" class="modal__label">Name</label>
                <input 
                    type="text" 
                    id="createVehicleName" 
                    formControlName="name" 
                    class="modal__input" 
                    [ngClass]="{'modal__input--error': form.controls['name'].invalid && form.controls['name'].touched}"
                />
                @if (getFieldError('name'); as error) {
                    <h4 class="modal__form-text">{{ error }}</h4>
                }
            </div>
            <div class="modal__form-section">
                <label for="createVehicleModel" class="modal__label">Model</label>
                <input 
                    type="text" 
                    id="createVehicleModel" 
                    formControlName="model" 
                    class="modal__input"
                    [ngClass]="{'modal__input--error': form.controls['model'].invalid && form.controls['model'].touched}"
                 />
                @if (getFieldError('model'); as error) {
                    <h4 class="modal__form-text">{{ error }}</h4>
                }
            </div>
            <div class="modal__form-section">
                <label for="createVehiclePlate" class="modal__label">Plate</label>
                <input 
                    type="text" 
                    id="createVehiclePlate" 
                    formControlName="plate" 
                    class="modal__input" 
                    [ngClass]="{'modal__input--error': form.controls['plate'].invalid && form.controls['plate'].touched}"
                />
                @if (getFieldError('plate'); as error) {
                    <h4 class="modal__form-text">{{ error }}</h4>
                }
            </div>

        </fieldset>

        <div class="modal__actions">
            <button type="button" class="modal__button modal__button--primary" (click)="onSubmit()" [disabled]="form.invalid">
                {{ mode() === 'create' ? 'Create' : 'Update' }}
            </button>
            <button type="button" class="modal__button" (click)="onCancel()">
                Cancel
            </button>
        </div>

    </form>
</div>
