<div class="modal">
    <h2>{{ mode() === 'create' ? 'Crear vehículo' : 'Editar vehículo' }}</h2>

    <form [formGroup]="form" (keydown.enter)="$event.preventDefault(); onSubmit()">

        <label for="createVehicleName">Nombre</label>
        <input type="text" id="createVehicleName" formControlName="name" />

        <label for="createVehicleModel">Modelo</label>
        <input type="text" id="createVehicleModel" formControlName="model" />

        <label for="createVehiclePlate">Plate</label>
        <input type="text" id="createVehiclePlate" formControlName="plate" />

        <div class="actions">
            <button type="button" (click)="onCancel()">Cancelar</button>
            <button type="button" (click)="onSubmit()" [disabled]="form.invalid">
            {{ mode() === 'create' ? 'Crear' : 'Actualizar' }}
            </button>
        </div>

    </form>
</div>