<div class="modal" (click)="onCancel()">
    <form 
        [formGroup]="form" 
        (keydown.enter)="$event.preventDefault(); onSubmit()" 
        class="modal__form"
        (click)="$event.stopPropagation()"
    >
        
        <fieldset class="modal__fieldset">
            <legend class="modal__legend">{{ mode() === 'create' ? 'Crear vehículo' : 'Editar vehículo' }}</legend>

            <div class="modal__form-section">
                <label for="createVehicleName" class="modal__label">Nombre</label>
                <input type="text" id="createVehicleName" formControlName="name" class="modal__input" />
            </div>
            <div class="modal__form-section">
                <label for="createVehicleModel" class="modal__label">Modelo</label>
                <input type="text" id="createVehicleModel" formControlName="model" class="modal__input" />
            </div>
            <div class="modal__form-section">
                <label for="createVehiclePlate" class="modal__label">Matrícula</label>
                <input type="text" id="createVehiclePlate" formControlName="plate" class="modal__input" />
            </div>

        </fieldset>

        <div class="modal__actions">
            <button 
                type="button" 
                class="modal__button modal__button--primary" 
                (click)="onSubmit()" 
                [disabled]="form.invalid"
            >
                {{ mode() === 'create' ? 'Crear' : 'Actualizar' }}
            </button>
            <button type="button" class="modal__button" (click)="onCancel()">Cancelar</button>
            
        </div>

    </form>
</div>
