
:host {
    background-color: var(--gray-200);
}

/* Map Container */

.map__container {
    position: relative;
    margin: 0;
    padding: 0;
}

/* Map */

#map {
    height: 92.5vh;
}

/* Map Controls && Buttons */

.map__controls {
    position: absolute;
    z-index: 1000;
    right: 0.25rem;
    top: 0.25rem;
    display: flex;
    margin: 0 auto;
    padding: 1rem 1rem;
}

/* Map Vehicle Select */

.map__actions {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 1rem;
    width: 100%;
}

.map__vehicle-select {
    width: 100%;
    max-width: 30rem;
    padding: 1rem 1rem;

    font-size: 1rem;
    text-align: center;
    font-size: var(--font-size-);
    color: var(--color-white);

    border: 1px solid var(--gray-200);
    border-radius: var(--radius-md);
    background-color: var(--color-blue-light);
    cursor: pointer;
}

.map__vehicle-option {
    cursor: pointer;
    
}


/* Mensaje de error */

.map__no-vehicle {

}