
<section class="map__actions-container">
    @if (vehicleList().length) {
        <app-vehicle-selector
            [vehicles]="vehicleList()"
            (vehicleSelected)="showVehicle($event)"
        />
    } @else {
        <!-- Aqui irá el <app-create-button/> o haré un componente para crear coches cuando no haya-->
        <h3 class="map__no-vehicle">You don't have vehicles</h3>
    }
</section>

<section class="map__container">
    <section class="map__controls">
        <app-user-location-button (locationFound)="getUserLocation($event)"/>
    </section>
    <div id="map" class="map"></div>
</section>

@if(showConfirmModal){
    <app-confirm-modal
        [title]="'Change vehicle position'"
        [message]="'Are you sure about changing the position of the vehicle?'"
        (confirm)="onConfirmLocationChange()"
        (cancel)="onCancelLocationChange()"
    />
}




