:host {
    background-color: var(--gray-200);
}

.map-actions__container {
    width: 100%;
    padding: 0.75rem;
    display: flex;
    justify-content: center;
    align-items: stretch;
    gap: 1rem;
    background-color: var(--color-white);
}

.map-actions__container > * {
    display: inline-flex;
}

.map-actions__container app-vehicle-selector {
    width: 100%;
}

.map-view__container {
    position: relative;
    margin: 0;
    padding: 0;
}

#map {
    height: 92.5vh;
}

@media (min-width: 576px) {
    .map-actions__container {
        justify-content: space-between;
    }

    .map-actions__container app-vehicle-selector {
        width: auto;
    }
}