
<section class="map-actions__container">
    <app-user-location-button
        (click)="onUserLocationClick()"
    />
    <app-vehicle-selector
        [vehicles]="vehicles()"
        (vehicleSelected)="showVehicle($event)"
    />
</section>

<section class="map-view__container">
    <div 
        id="map" 
        class="map" 
        [aria-label]="messages.mapView.ariaLabel"
    ></div>
</section>

@if(showConfirmModal()){
    <app-confirm-modal
        [title]="messages.confirmModal.title"
        [message]="messages.confirmModal.message"
        (confirm)="onConfirmLocationChange()"
        (cancel)="onCancelLocationChange()"
    />
}
