
<section class="map-view__actions">
    <app-vehicle-selector
        [vehicles]="vehicles()"
        (vehicleSelected)="showVehicle($event)"
    />
</section>

<section class="map-view__container">
    <app-user-location-button
        (click)="onUserLocationClick()"
        class="map__controls"
    />
    <div 
        id="map" 
        class="map" 
        aria-label="Interactive map showing vehicle positions. Visual only, drag points to move vehicles with mouse or touch"
    ></div>
</section>

@if(showConfirmModal()){
    <app-confirm-modal
        [title]="'Change vehicle position'"
        [message]="'Are you sure about changing the position of the vehicle?'"
        (confirm)="onConfirmLocationChange()"
        (cancel)="onCancelLocationChange()"
    />
}




