
:host {
    background-color: var(--gray-200);
}

/* Map Actions */

.map-actions__container {
    width: 100%;
    padding: 0.75rem;
    display: flex;
    justify-content: center;
    align-items: stretch;
    gap: 1rem;
    background-color: var(--color-white);
    text-align: end;
}
.map-actions__container > * {
    display: flex;
}

/* Map Container */

.map-view__container {
    position: relative;
    margin: 0;
    padding: 0;
}

/* Map */

#map {
    height: 92.5vh;
}
