
:host {
    background-color: var(--gray-200);
    
}

/* Map Container */

.map__container {
    position: relative;
    margin: 0;
    padding: 0;
}

/* Map */

#map {
    height: 92.5vh;
}

/* Map Controls && Buttons */

.map__controls {
    position: absolute;
    z-index: 1000;
    right: 0.25rem;
    top: 0.25rem;
    display: flex;
    margin: 0 auto;
    padding: 1rem 1rem;
}