
:host {
    background-color: var(--gray-200);
}

/* Map Actions */

.map-view__actions {
    width: 100%;
    padding: 0.75rem;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    background-color: var(--color-gray-200);
    text-align: end;
}

/* Map Container */

.map-view__container {
    position: relative;
    margin: 0;
    padding: 0;
}

.map__controls {
    position: absolute;
    z-index: 1000;
    right: 0.25rem;
    top: 0.25rem;
    display: flex;
    margin: 0 auto;
    padding: 1rem 1rem;
}

/* Map */

#map {
    height: 92.5vh;
}
