/* Header */

.home__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.5rem 2rem;
    margin-bottom: 1.5rem;
    background-color: var(--gray-50);
}
.home__title {
    font-size: 1.5rem;
    font-weight: 600;
    color: var(--gray-800);
    margin: 0;
}

/* Empty State */

.vehicle-table__empty {
    text-align: center;
    margin: 37.5vh auto;
}
.vehicle-table__empty p {
    font-size: var(--font-size-base);
    font-weight: 500;
}
.vehicle-table__empty button {
    padding: 2rem;
    margin: 0;
    border: none;
    border-radius: var(--radius-md);
    font-size: var(--font-size-base);
    font-weight: 700;
    background-color: var(--color-blue-light);
    color: var(--color-white);
}
.vehicle-table__empty button:hover {
    background-color: var(--color-blue-dark);
}
.vehicle-table__empty button:active {
    transform: scale(0.95);
}

/* Table */

.vehicle-table {
    margin: 0 auto;
    width: 95%;
}

.vehicle-table__container {
    background-color: var(--gray-50);
}
.vehicle-table__container table {
    width: 100%;
    table-layout: fixed;
    border-collapse: collapse;
}

.vehicle-table__container th {
    background-color: var(--color-blue-light);
    color: var(--color-white);
}
.vehicle-table__container th,
.vehicle-table__container td {
    text-align: left;
    padding: 1.25rem;
}

.vehicle-table__container th:nth-child(1),
.vehicle-table__container td:nth-child(1) { 
    width: 50%; 
}
.vehicle-table__container th:nth-child(2),
.vehicle-table__container td:nth-child(2) { 
    display: none; 
}
.vehicle-table__container th:nth-child(3),
.vehicle-table__container td:nth-child(3) { 
    display: none; 
}
.vehicle-table__container th:nth-child(4),
.vehicle-table__container td:nth-child(4) { 
    width: 25%;
}

/* Actions */

.vehicle-table__actions {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin: 0;
    padding: 0;
    gap: 1rem;
}
.vehicle-table__container td.vehicle-table__actions {
    width: 100%;
    height: 100%;
    vertical-align: middle;
}

/* MediaQuery Tablet */

@media(min-width: 576px) {

    .vehicle-table__container th {
        background-color: var(--color-blue-light);
    }
    .vehicle-table__container th:nth-child(1),
    .vehicle-table__container td:nth-child(1) { 
        width: 40%; 
    }
    .vehicle-table__container th:nth-child(2),
    .vehicle-table__container td:nth-child(2) { 
        display: revert;
        width: 20%; 
    }
    .vehicle-table__container th:nth-child(3),
    .vehicle-table__container td:nth-child(3) { 
        display: revert;
        width: 15%; 
    }
}