<section class="home__header">
    <h2 class="home__title">My vehicles</h2>
    <app-create-button (create)="createVehicle()"/>
</section>

<section class="vehicle-table">
    @if (vehicleList().length === 0) {
        <div class="vehicle-table__empty">
            <p class="vehicle-table__empty-message">There are no registered vehicles</p>
            <button class="vehicle-table__empty-create" (click)="createVehicle()">
                <h3 class="vehicle-table__empty-title">Create Vehicle</h3>
            </button>
        </div>
    } @else {
        <div class="vehicle-table__container">
            <table>
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Model</th>
                        <th>Plate</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @for(vehicle of vehicleList(); track vehicle.plate) {
                        <tr class="vehicle-table__row">
                            <td data-label="Name">{{ vehicle.name }}</td>
                            <td data-label="Model">{{ vehicle.model }}</td>
                            <td data-label="Plate">{{ vehicle.plate }}</td>
                            <td data-label="Actions" class="vehicle-table__actions">
                                <app-edit-button (edit)="editVehicle(vehicle)"/>
                                <app-delete-button (delete)="openConfirmDelete(vehicle)"/>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    }
</section>

@if (isVehicleModalOpen()) {
    <app-vehicle-form-modal
        [mode]="modalMode()"
        [vehicle]="selectedVehicle()"
        (submit)="saveVehicle($event)"
        (cancel)="closeModal()"
    />
}

@if (isConfirmDeleteOpen()) {
  <app-confirm-modal
    [title]="deleteConfirmation.title"
    [message]="deleteConfirmation.message"
    (confirm)="confirmDeleteVehicle()"
    (cancel)="closeConfirmModal()"
  />
}