/* Header */

.home__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.5rem 2rem;
    margin-bottom: 1.5rem;
    background-color: var(--gray-50);
}
.home__title {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    font-size: var(--font-size-md);
    font-weight: 600;
    color: var(--color-blue-dark);
    margin: 0;
}

/* Table Container*/

.table__container {
    margin: 1rem auto 2rem auto;
    width: 95%;
}
