<section class="home__header">
    <h2 class="home__title">My vehicles</h2>
    <app-create-button (create)="vehicleModal.openCreate()"/>
</section>

<section class="table__container">
    @if (vehicleList().length === 0) {
        <app-vehicle-empty-state 
            (createVehicle)="vehicleModal.openCreate()"
        />
    } @else {
        <app-vehicle-table
            [vehicles]="vehicleList()"
            [vehicleModal]="vehicleModal"
            (deleteVehicle)="openConfirmDelete($event)"
        />
    }
</section>

@if (vehicleModal.isOpen()) {
    <app-vehicle-form-modal
        [mode]="vehicleModal.mode()"
        [vehicle]="vehicleModal.selectedVehicle()"
        (submit)="saveVehicle($event)"
        (cancel)="vehicleModal.close()"
    />
}

@if (isConfirmDeleteOpen()) {
  <app-confirm-modal
        [title]="deleteConfirmation.title"
        [message]="deleteConfirmation.message"
        (confirm)="confirmDeleteVehicle()"
        (cancel)="closeConfirmModal()"
  />
}