/* Header */

.home__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.5rem 2rem;
    margin-bottom: 1.5rem;
    background-color: var(--gray-50);
}
.home__title {
    font-size: 1.5rem;
    font-weight: 600;
    color: var(--gray-800);
    margin: 0;
}

/* Table Container*/

.table__container {
    margin: 1rem auto 2rem auto;
    width: 95%;
}

/* Empty State */

.vehicle-table__empty {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin: 30vh auto;
}

.vehicle-table__empty-message {
    font-size: var(--font-size-lg);
    font-weight: 500;
    color: var(--color-blue-dark);
}

.vehicle-table__empty-create {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    background-color: var(--color-blue-light);
    padding: 1.5rem;
    border-radius: var(--radius-sm);
    border: 2px solid transparent;
    cursor: pointer;
    transition: background-color 0.25s ease;
    width: 100%;
    margin: 0 auto;
}
.vehicle-table__empty-create:hover {
    background-color: var(--color-blue-dark); 
}
.vehicle-table__empty-title {
    font-weight: 700;
    color: var(--color-white);
    font-size: var(--font-size-base);
    margin: 0;
}

@media (min-width: 578px) {
    .vehicle-table__empty-create {
        width: auto;
        padding: 1rem 1.5rem;
    }
}

