
.navbar {
    background-color: var(--color-blue-light);
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    height: 7.5vh;
    padding: 2rem 0;
}

.navbar__links {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin: 0;
    padding: 0;
    gap: 1rem; 
}

.nav-item i {
    color: var(--color-white);
}

.nav-item a {
    color: var(--color-white);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    padding: 0.75rem;
    border-radius: var(--radius-md);
    border: 2px solid transparent;
    transition: background-color 0.25s ease;
}
.nav-item a:hover {
    background-color: rgba(0, 0, 0, 0.25);
    border: 2px solid var(--color-white);
}
.nav-item a.active {
    border: 2px solid transparent;
    color: var(--color-blue-light);
    background-color: var(--color-white);
}
.nav-item a.active i {
    color: var(--color-blue-light);
}

.nav-label {
    display: none;
}

/* Width Tablet */

@media(min-width: 576px) {
    .nav-item a {
        padding: 0.5rem;
    }
    .nav-label {
        display: inline-block;
        font-weight: 500;
        font-size: var(--font-size-md);
        text-decoration: none;
    }
    .nav-label.active {
        color: var(--color-blue-light);
    }
}
