<section class="home__header">
    <h2 class="home__title">Mis vehículos</h2>
    <button class="home__button" (click)="createVehicle()">+</button>
</section>

<section class="vehicle-table">
    @if (vehicles.length === 0) {
        <div class="vehicle-table__empty">
            <p>No hay vehículos registrados</p>
        </div>
    } @else {
        <div class="table-container">
            <table>
                <thead>
                    <tr>
                        <th>Nombre</th>
                        <th>Modelo</th>
                        <th>Matrícula</th>
                        <th>Acciones</th>
                    </tr>
                </thead>
                <tbody>
                    @for(vehicle of vehicles; track vehicle.plate) {
                        <tr>
                            <td data-label="Nombre">{{ vehicle.name }}</td>
                            <td data-label="Modelo">{{ vehicle.model }}</td>
                            <td data-label="Matrícula">{{ vehicle.plate }}</td>
                            <td data-label="Acciones" class="actions">
                                <button type="button" (click)="editVehicle(vehicle)">
                                    Editar
                                </button>
                                <button type="button" (click)="deleteVehicle(vehicle)">
                                    Eliminar
                                </button>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    }
</section>

@if (isModalOpen) {
    <app-vehicle-form-modal
        [mode]="modalMode"
        [vehicle]="selectedVehicle"
        (submit)="saveVehicle($event)"
        (cancel)="closeModal()"
    />
}