.home__header {
    width: 90%;
    margin: 2rem auto 2rem auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.home__title {
    margin: 0;

    
}
.home__button {
    width: 3rem;
    height: 3rem;
    border-radius: var(--radius-sm);

}
