.create-button {
    background-color: var(--color-blue-light);
    color: var(--color-white);

    padding: 1rem 2rem;
    border: none;
    border-radius: var(--radius-sm);

    cursor: pointer;
    transition: background-color 0.25s ease;

    width: 100%;
}

.create-button:hover {
    background-color: var(--color-blue-dark);
}

.create-button:focus-visible {
    outline: 2px solid var(--color-blue-dark);
    outline-offset: 2px;
}

.create-button__text {
    font-size: var(--font-size-sm);
    font-weight: 500;
    text-align: center;
    padding: 0;
    margin: 0;
}
