
.create__button {
    background-color: var(--color-blue-light);
    color: var(--color-white);
    margin: 0;
    padding: 0.75rem;
    border: none;
    border-radius: var(--radius-sm);
    cursor: pointer;
    transition: background-color 0.25s ease;
}

.create__button:hover {
    background-color: var(--color-blue-dark);
}

.create__button:focus-visible {
    outline: 2px solid var(--color-blue-light);
    outline-offset: 2px;
    transition: outline 0.25s ease;
}

.create__button i {
    font-size: 2rem;
}

