.button__create {
    background-color: var(--color-blue-light);
    color: var(--color-white);
    margin: 0;
    padding: 0.25rem 1rem;
    border: none;
    border-radius: var(--radius-sm);
    font-size: 2.5rem;
    font-weight: 500;
    cursor: pointer;
    transition: background-color 0.25s ease, transform 0.25s ease;
}

.button__create:hover {
    background-color: var(--color-blue-dark);
}