.create-button {
    background-color: var(--color-blue-light);
    color: var(--color-white);

    padding: 1rem 1rem;
    border: none;
    border-radius: var(--radius-sm);

    cursor: pointer;
    transition: background-color 0.25s ease;
}

.create-button:hover {
    background-color: var(--color-blue-dark);
}

.create-button:focus-visible {
    outline: 2px solid var(--color-blue-dark);
    outline-offset: 2px;
}

.create-button__text {
    font-size: var(--font-size-sm);
    font-weight: 500;
}

.create-button i {
    font-size: 1.6rem;
}
