:host {
    padding: 2rem;
    background-color: var(--color-blue-light);
}

/* Navbar */

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
}
.navbar__links {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin: 0;
    padding: 0;
    gap: 0.5rem;
    
}
.nav-item {
    display: flex;
    justify-content: center;
    align-items: center;
}
.nav-item a {
    display: inline-block;
    padding: 0.5rem;
    border-radius: var(--radius-md);
    color: var(--color-white);
    text-decoration: none;
    font-weight: 500;
    font-size: var(--font-size-md);
    transition: background-color 0.25s ease;
}

.nav-item a:hover {
    background-color: rgba(0, 0, 0, 0.25);
}

.nav-item a.active {
    border: 2px solid var(--color-white);
}

/* Auth */

.navbar__auth {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    padding: 0;
    margin: 0;
}
.navbar__auth button {
    background-color: transparent;
    color: var(--color-white);
    font-weight: 500;
    font-size: var(--font-size-base);
    padding: 1rem;
    margin: 0;
    border: none;
}
.navbar__auth button:hover {
    background-color: rgba(0, 0, 0, 0.25);
    border-radius: var(--radius-md);
}
.navbar__auth button.active {
    background-color: rgba(0, 0, 0, 0.25);
    border-radius: var(--radius-md);
}
