<nav class="navbar">
    @if (this.isLogged()) {
        <ul class="navbar__links">
            <li class="nav-item">
                <a routerLink="" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">Home</a>
            </li>
            <li class="nav-item">
                <a routerLink="/map" routerLinkActive="active">Map</a>
            </li>
            <li class="nav-item">
                <a routerLink="/calendar" routerLinkActive="active">Calendar</a>
            </li>
            <li class="nav-item">
                <a routerLink="/graphics" routerLinkActive="active">Graphics</a>
            </li>
        </ul>
    }
    

    <div class="navbar__auth" >
        @if(this.isLogged()){
            <button [routerLink]="['']" routerLinkActive="active" (click)="onLogout()">Logout</button>
        } @else if (!this.isLogged()) {
            <button [routerLink]="['/register']" routerLinkActive="active">Register</button>
            <button [routerLink]="['/login']" routerLinkActive="active">Login</button>
        }   
    </div>
</nav>