
.delete-button {
    background: transparent;
    border: none;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}
.delete-button:focus-visible {
    outline: 2px solid var(--color-blue-light);
    outline-offset: 2px;
    transition: outline 0.25s ease;
}

.delete-button i {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 2.5rem;
    height: 2.5rem;
    font-size: 2rem;
    color: var(--color-red-light);
    transition: color 0.25s;
}
.delete-button i:hover {
    color: var(--color-red-dark);
}
