.map__button {
    margin: 0;
    padding: 1rem;
    border: 1px solid rgba(0, 0, 0, 0.7);
    background-color: var(--color-white);
    border-radius: var(--radius-sm);
    transition: background-color 0.25s ease;
    cursor: pointer;
}
.map__button:hover {
    background-color: var(--gray-100);
}
.map__button-icon {
    width: 2rem;
    height: 2rem;
    margin: 0;
    padding: 0;
    color: var(--color-white);
    display: flex;
    justify-content: center;
    align-items: center;
}

.map__button-icon path {
    transform: scale(1.05);
    transform-origin: center;
}