.map__button {
    margin: 0;
    padding: 1rem;
    width: 100%;
    border: none;
    font-size: var(--font-size-sm);
    background-color: var(--color-blue-light);
    color: var(--color-white);
    border-radius: var(--radius-sm);
    transition: background-color 0.25s ease;
    cursor: pointer;
}

.map__button:hover {
    background-color: var(--color-blue-dark);
}