
<div 
    class="modal" 
    (click)="onCancel()" 
    role="dialog" 
    aria-modal="true" 
    [attr.aria-labelledby]="'confirm-modal__modal-title'" 
    [attr.aria-describedby]="'confirm-modal__modal-message'"
>
    <div class="modal__form" (click)="$event.stopPropagation()">
        <h2 class="modal__title" id="confirm-modal__modal-title">{{ title() }}</h2>
        <p class="modal__message" id="confirm-modal__modal-message">{{ message() }}</p>

        <div class="modal__actions">
        <button type="button" id="confirm-modal__button-confirm" class="modal__button modal__button--delete" (click)="onConfirm()" aria-label="Confirm action">
            Confirm
        </button>
        <button type="button" id="confirm-modal__button-cancel" class="modal__button" (click)="onCancel()" aria-label="Cancel action">
            Cancel
        </button>
        </div>
    </div>
</div>