.modal__overlay {
    position: fixed;
    z-index: 9999;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: var(--color-modal-overlay);
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal__form {
    background-color: var(--gray-100);
    border-radius: var(--radius-sm);
    padding: 2rem;
    max-width: 40rem;
    width: 90%;
    text-align: center;
}

.modal__title {
    font-size: var(--font-size-lg);
    color: var(--color-blue-dark);
    font-weight: 700;
    margin-bottom: 1rem;
}

.modal__message {
    margin-bottom: 2rem;
    font-size: var(--font-size-base);
}

.modal__actions {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    gap: 1rem;
}

.modal__button {
    background-color: var(--gray-300);
    padding: 1.5rem 1.5rem;
    border: none;
    border-radius: var(--radius-sm);
    cursor: pointer;
    font-weight: 700;
    font-size: var(--font-size-base);
    transition: background-color 0.25s ease;
}

.modal__button--delete {
    background-color: var(--color-red-light);
    color: var(--color-white);
}

.modal__button:hover:not(:disabled) {
    background-color: var(--color-blue-light);
}

.modal__button--delete:hover:not(:disabled) {
    background-color: var(--color-red-dark);
}


