
.graphics-actions {
    background-color: var(--color-white);
    margin: 0;
    padding: 0.5rem 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.graphics-actions__title {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 1rem;
    margin: 0;
    padding: 1rem;
    font-size: var(--font-size-lg);
    color: var(--color-blue-dark);
    filter: opacity(0.9);
}

.graphics-actions__period {
    display: flex;
    gap: 0.5rem;
}
.graphics-actions__period-button {
    padding: 0.5rem 1rem;
    border: 2px solid var(--color-white);
    border-radius: var(--radius-sm);
    background: var(--color-white);
    color: var(--color-blue-dark);
    font-size: var(--font-size-xs);
    font-weight: 500;
    cursor: pointer;
    transition: all 0.2s;
}
.graphics-actions__period-button:hover {
    border-color: var(--color-blue-light);
    color: var(--color-blue-light);
}
.graphics-actions__period-button--active {
    background: var(--color-blue-light);
    border-color: var(--color-blue-light);
    color: var(--color-white);
}
.graphics-actions__period-button--active:hover {
    background: var(--color-blue-light);
    border-color: var(--color-blue-light);
    color: var(--color-white);
}

.graphics {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 100%;
    padding: 1rem;
}
.graphics-view__container {
    flex: 1 1 auto;
    padding: 0;
    margin: 0;
}

@media(min-width: 768px) {
    .graphics {
        flex-direction: row;
        flex-wrap: wrap;
        gap: 1rem;
    }
    
    .graphics-view__container:first-child,
    .graphics-view__container:nth-child(2) {
        width: calc(50% - 0.5rem);
    }
    .graphics-view__container:last-child {
        width: 100%;
    }
}
