.graphic-actions {
    background-color: var(--color-white);
    margin: 0;
    padding: 1rem;
}

.graphics-actions__title{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 1rem;
    margin: 0;
    padding: 1rem;
    font-size: var(--font-size-lg);
    color: var(--color-blue-dark);
}

.graphics-view__container {
    padding: 2rem;
    max-width: 120rem;
    margin: 0 auto;
}

.chart-wrapper {
    position: relative;
    max-height: 40rem;
    max-width: 40rem;
    margin: 0 auto;
    border-radius: 0.5rem;
    padding: 1rem;
    background: var(--color-white);
    box-shadow: 0 2px 8px rgba(0,0,0,0.1);
}