<section class="graphics-actions" role="region" aria-label="Vehicle metrics heading">
    <h2 class="graphics-actions__title">
        <i class="pi pi-chart-bar" aria-hidden="true"></i>    
        Metrics:
    </h2>
</section>

<section class="graphics" role="region" aria-label="Vehicle metrics charts">
    <div class="graphics-view__container">
        <app-vehicle-usage-hours-chart/>
    </div>

    <div class="graphics-view__container">
        <app-most-used-vehicle-chart/>
    </div>

    <div class="graphics-view__container">
        <app-hours-by-weekday-vehicle-chart/>
    </div>
</section>
