:host {
    height: 7.5vh;
    display: block;
    background-color: var(--color-blue-light);
}
.header {
    width: 95%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row; 
}
