:host {
    display: block;
    width: 100%;
    margin: 0;
    padding: 0;
}

.map__vehicle-select {
    width: 100%;
    margin: 0;
    min-width: 20rem;
    padding: 1rem;

    font-size: var(--font-size-sm);
    text-align: center;
    color: var(--color-white);

    border: none;
    border-radius: var(--radius-sm);
    background-color: var(--color-blue-light);
    cursor: pointer;
    transition: background-color 0.2s ease-in-out;
}

@media (min-width: 768px) {
    .map__vehicle-select {
        max-width: 30rem;
    }
}