<label for="vehicle-select" class="sr-only">Select Vehicle</label>
<select 
    id="vehicle-select"
    class="map__vehicle-select" 
    (change)="onVehicleChange($event)" 
    aria-required="true"
>
    <option class="map__vehicle-option" value="" selected disabled>-- Select a Vehicle --</option>
    <!-- Este primer option en el futuro irá fuera, de momento se deja así, luego con el backend montado se verá -->
    <!-- Estaba disabled, ahora ya no y funciona, tendré que mirar si genera errores en un futuro -->
    @for (vehicle of vehicles(); track vehicle.plate) {
        <option 
            class="map__vehicle-option" 
            [value]="vehicle.plate" 
            [selected]="vehicle.plate === selectedPlate()"
        >
            {{ vehicle.name }}
        </option>
    }
</select>